/* Global */

body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;   
}

button {
    margin: 5px;
}

/* Nav bar */

.container-fluid {
    padding: 3% 10% 7%;
}

#title {
    background:#ff4c68;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: bold;

}

.nav-link {
    font-size: 1.3rem;
    font-weight: lighter;
    margin-right: 25px;
    color:#ccc;
}

.navbar a {
    color: #fff;
}

.navbar-toggler-icon {
    color: #fff;
}

/* Title content */

.titlecontent {
    margin-top: 5%;
}

.titlecontent h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 5%;
}

.rotate45 {
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    transform: rotate(25deg);
    width: 40%;
    margin: 20px;
    position: absolute;
    right: 30%;
}

/* Features */

#features {
    background: #fff;
    position: relative;
}

.features {
    text-align: center;
    padding: 7% 10%;
}

.featicons {
    color: #ef8172;
}

.featicons:hover {
    color: #ff4c68;
}

.features h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    line-height: 1.5; 
}

.features p {
    color: #8f8f8f;
    margin-bottom: 5%;
}

/* Testmonials */

#testimonials {
    text-align: center;
    background: #ef8172;
    color: #fff;
}

#testimonials h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.5; 
}

.testmonialimg {
    width: 10%;
    border-radius:100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 10%;
}

#press {
    background: #ef8172;
    text-align: center;
    padding-bottom: 10%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing */

#pricing {
    text-align: center;
    padding: 7% 10%;
}

#pricing h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3rem;
}

.card {
    text-align: center;
    padding: 10px;
    line-height: 1;
    margin-top: 5%;
}

